html, body {
	font: caption;
	height: 701px;
	background-color: #ffffff1e;
}

h2 {
	text-align: center;
	padding: 8px 0;
	margin: 0 0 24px 0;
	background-color: #0000002f;
	color: #efefef;
	font-weight: 400;
	cursor: default;
}

h5 {
	color: #fff;
    background: #0000002f;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 12px;
	font-weight: 200;
	cursor: default;
}

/* The slider itself */
.slider {
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 100%; /* Full-width */
	height: 12px; /* Specified height */
	background: white; /* Grey background */
	outline: none; /* Remove outline */
	opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s; /* 0.2 seconds transition on hover */
	transition: opacity .2s;
	border-radius: .25rem;
	margin-top: 3px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	/* background-image: url("/Users/natechiles/Desktop/w.png"); */
	background-repeat:no-repeat;
	background-position: center center;
	width: 20px; /* Slider handle width */
	height: 20px; /* Slider handle height */
	background: #4CAF50; /* Green background */
	cursor: pointer; /* Cursor on hover */
	border-radius: 1rem;	
}

.x {
	padding-top: 40px;
	color: #fff;
}

label {
	margin-bottom: .1rem;
	color: #000000;
}

.label-size {
	margin-bottom: 0px;
}

.garment-quantities {
	margin-bottom: 0px;
	margin-top: -10px;
}

label, input, .form-control {
	text-align: center;
	opacity: 0.8;
}

label, input, .form-control:hover {
	opacity: 1;
}

.col.sizes {
	padding: 2px;
}

.row.row-group {
	padding: 0 15px 0 15px;
}

.btn-custom {
	width: 35%;
	font-weight: 600;
	font-size: 18px;
	border-radius: 100px;
	background-color: #bdbdbd85;
	color:#000000;
	border: 1px solid #000000; 
	padding: 7px;
	outline: none;
	font-weight: 600;
}

.btn-custom:hover{
	box-shadow: none;
	background-color: #ffffff8a;
	outline: none;
}

.btn-custom:active:focus{
	box-shadow: none;
	background-color: #d1d1d183;
	outline: none;
}

button:focus {
	outline: 0;
}

/* .btn-custom:active:focus {
	color: #ffffff; 
	background-color: #161617; 
	border-color: #494F57;
  } */

/*hide up down indicator in number boxes*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:focus::-webkit-input-placeholder { 
	color:transparent; 
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin-bottom: 15px;
}

.form-control {
	cursor: pointer;
	font-size: 22px;
	color: black;
	font-weight: 600;
	border: 0;
	box-shadow: none;
	padding: 0px;
}

.form-control:focus {
	border: 0;
	box-shadow: none;
}

.results {
	cursor: default;
	font-size: 22px;
	color: black;
	font-weight: 600;
	padding: 0px;
	text-align: center;
	opacity: 1;
}

#per-sheet-response.results, #sheets-to-print {
	background-color: transparent;
	text-align: center;
	font-size: 36px;
	margin-bottom: 22px;
}

.dimension-box {
    text-align: center;
    font-size: 30px;
    cursor: default;
    color: black;
	font-weight: 600;
	margin-left: 15px;
	margin-top: -12px;
}

